.section {
  padding: 30px 20px 0px 20px;
}

article + article {
  margin-top: 35px;
}

.title {
  font-size: 21px;
}

.content h1:not(:first-child), .content h2:not(:first-child) {
  margin-top: 35px;
}

.content h1 {
  padding-bottom: 6px;
  border-bottom: 1px solid;
}
